html,
body {
  padding: 0;
  margin: 0;
  background-color: green;
  height: 100vh;
  width: 100vw;
}

#outer-container {
  background-color: red;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#items-browser {
  background-color: pink;
  flex-grow: 1;
}

#inner-container {
  background-color: blue;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

#items-list li {
  font-size: large;
}

#footer-container, #header-container {
  width: 100vw;
  height: 2em;
  background-color: yellow;
}

#text-container {
  background-color: white;
  width: fit-content;
}
